*{
  font-family: fantasy;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

li{
  list-style: none;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px black solid;
}

.cat{

}

.name{
  font-size: 2em;
}

.food{
  font-size: 1.5em;
  font-style: italic;
}

img {
   padding:1px;
   border:1px solid #021a40;
   background-color: Teal;
   border-radius: 1em;
}
